/* Core variables and mixins*/
@import "imports/core/reset";
@import "imports/core/variables";
@import "imports/core/mixins";
@import "imports/core/layouts";
@import "imports/core/elements";
@import "imports/core/components";
@import "imports/core/libs";
@import "imports/core/loading";
@import "imports/core/bootstrap_mini"; // Nếu không Responsive bằng Boostrap 4 Grid thì không cần import vào.

/* Navigation, header, footer*/
@import "imports/core/header";
@import "imports/core/nav";
@import "imports/core/footer";

/* Pages*/
@import "imports/pages/home";
@import "imports/pages/about";
@import "imports/pages/project"; // @import "imports/pages/contact";
// @import "imports/pages/detail";
// @import "imports/pages/product"
.custom-cursor,
.custom-cursor-dot {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
  opacity: 0;
}

/* decorative */
.custom-cursor {
  width: 62px;
  height: 62px;
  border: 1px solid #1c1c1c;
  border-radius: 50%;
}
.custom-cursor-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #1c1c1c;
}
