/* FONT FACE - font-display: fallback; */

@font-face {
  font-family: "ga";
  src: url("../fonts/SVN-Gilroy.woff2") format("woff2"),
    url("../fonts/SVN-Gilroy.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "gb";
  src: url("../fonts/SVN-GilroyBold.woff2") format("woff2"),
    url("../fonts/SVN-GilroyBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "gl";
  src: url("../fonts/SVN-GilroyLight.woff2") format("woff2"),
    url("../fonts/SVN-GilroyLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "gm";
  src: url("../fonts/SVN-GilroyMedium.woff2") format("woff2"),
    url("../fonts/SVN-GilroyMedium.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: fallback;
}
