* {
  text-decoration: none;
  a {
    color: #161f38;
  }
  a:visited {
    color: #161f38;
    cursor: pointer;
  }
}
.main {
  padding: 30px;
  @include xs {
    padding: 12px;
  }
  height: calc(var(--vh, 1vh) * 100);
  .nav {
    padding: auto;
    display: flex;
    position: relative;
    justify-content: space-between;
    font-size: $height-small;
    &-left {
      position: absolute;
      left: 0;
      top: 0;
    }
    &-right {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  .mid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include xs {
      flex-direction: column;
    }
    @include md {
      flex-direction: column;
    }
    .mid-left {
      margin-left: 5rem;
      padding: 3rem;
      @include xs {
        margin-left: 0;
        margin-top: 5rem;
      }
      .mid-content {
        font-size: 36px;
        font-family: gl;
        @include xs {
          font-size: 16px;
        }
      }
      .resume {
        display: flex;
        position: relative;
        top: 100px;
        justify-content: flex-start;
        .resume-content {
          margin-top: 40px;
          img {
            width: 30px;
          }
          span {
            color: #161f38;
            font-size: 16px;
            @include xs {
              font-size: 10px;
            }
          }
        }
        .resume-img {
          width: 8rem;
        }
      }
    }
    .mid-right {
      display: flex;
      justify-content: space-between;
      &-info {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
      }
      &-about {
        writing-mode: vertical-rl;
        text-orientation: mixed;
        font-size: 10px;
        @include md {
          display: none;
        }
        @include xs {
          display: none;
        }
      }
      &-hero {
        lottie-player {
          width: 100%;
          height: 100%;
          @include xs {
            display: none;
          }
          @include md {
            display: none;
          }
        }
      }
    }
  }
  .about {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    top: 80px;
    &-left {
      position: absolute;
      left: 0;
      top: 0;
    }
    &-right {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}
